# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
[Bb]uild/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Mac OS
.DS_Store

# IntelliJ
.idea/

# Visual Studio
.vs/

# Locked files, when hot-reloading engine modules enabled
Project/Applications/Assets/**/*.locked

# Generated environment cubemap, irradiance & prefiltered maps
*.Cubemap.hdr
*.Irradiance.hdr

# Cached assets (e.g. models)
*.cache

# Unity
Library/
[Tt]emp/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Unity/[Bb]uild/
Unity[Oo]bj/
Unity/*.csproj
Unity/*.sln
Unity/*.pdb

# Temp Files
[Ss]ubmission/