[submodule "Project/Dependencies/glm"]
	path = Project/Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Project/Dependencies/stb"]
	path = Project/Dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "Project/Dependencies/imgui"]
	path = Project/Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Project/Dependencies/glfw"]
	path = Project/Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Project/Dependencies/assimp"]
	path = Project/Dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Project/Dependencies/termcolor"]
	path = Project/Dependencies/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "Project/Dependencies/robin-hood-hashing"]
	path = Project/Dependencies/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "Project/Dependencies/string-id"]
	path = Project/Dependencies/string-id
	url = https://github.com/TheAllenChou/string-id.git
[submodule "Project/Dependencies/ImGuizmo"]
	path = Project/Dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
